button#loadMore {
    /* margin: 0 auto;
    margin-top: 50px;
    display: block; */
}

button:disabled {
    background-color: #c1c1c1;
    cursor: not-allowed;
}

button.hidden {
    display: none;
}

input,
button {
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 30px;
}

input[type="submit"],
button {
    border: none;
    background-color: rgba(45, 45, 233, 0.731);
    color: white;
    cursor: pointer;
}

.search-form {
    background-color: #6767ca;
    text-align: center;
    padding: 40px;
}

/*
.search-form>input,
.search-form>button {
    font-size: 25px;
} */


.info {
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    flex-direction: column;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.photo-card {
    margin: 10px
}